.App {
  text-align: center;
}

.persona{
background-color:greenyellow;

padding: 20px;
margin-top: 20px;
border-radius: 10px;
width: 30%;
margin-left: auto;
margin-right: auto;

}

.contador{
  background-color:rgb(229, 255, 0);
  padding: 20px;
margin-top: 20px;
border-radius: 10px;
width: 30%;
margin-left: auto;
margin-right: auto;

}


.clicked{
  background-color:rgb(0, 238, 255);
  padding: 20px;
margin-top: 20px;
border-radius: 10px;
width: 30%;
margin-left: auto;
margin-right: auto;

}